<ion-header>
  <ion-toolbar>
    <img src="assets/img/geocleta.jpg"  style="display:inline-block" height="40px" > 
   
    <ion-title style="display:inline-block" >Geocleta</ion-title>
    <ion-button  style="display:inline-block" slot="end" size="small" type="submit"  color="primary" (click)="logout()"> <ion-icon name="exit"></ion-icon> </ion-button>
  </ion-toolbar>
</ion-header>




<ion-content>

  <div class="map-container">
    <div class="map-frame">
      <!--<div id="map"></div>
      <ion-button id="refreshButton" color="primary" (click)="findMe()">Find me</ion-button>-->
      <div id="mapa" >
     
      </div>
      
        <ion-fab-button id="addPoint" (click)="add()"><ion-icon name="add"></ion-icon></ion-fab-button>
        <ion-fab-button id="currentLocation" (click)="currentLocation()"><ion-icon name="location"></ion-icon></ion-fab-button>

        <div id="popup" *ngIf="elementTramo">
          <!--
          <ion-grid>

            <ion-row>
              <ion-col size="12">
                <ion-label> Tramo:{{elementTramo.tramo.nombre}} </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label> Elemento: {{elementTramo.elemento}} </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>

        -->
        <ion-label> Tramo:{{elementTramo.tramo.nombre}} </ion-label><br>
        <ion-label> Elemento: {{elementTramo.elemento}} </ion-label>
          <ion-button (click)="goUpdate()">Ver </ion-button>
          <!--<a [routerLink]="['/element-tramo-update',elementTramo.id]" >Ver</a>-->
        </div>
    </div>
  </div>




 

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
</ion-content>
