<ion-header>
  <ion-toolbar>
    <ion-title>leaflet-map</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <div class="map-container">
    <div class="map-frame">
      <!--<div id="map"></div>
      <ion-button id="refreshButton" color="primary" (click)="findMe()">Find me</ion-button>-->
      <div id="mapa" >
     
      </div>
      
        <ion-fab-button id="addPoint" (click)="add()"><ion-icon name="add"></ion-icon></ion-fab-button>
    
    </div>
  </div>




 

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
</ion-content>
